<div class ="jumbotron">
<h1><i class="fa fa-circle-o-notch"></i> Biziwork</h1>
<p>This is a simple task management system from Bizibly. Enjoy!</p>
<%= link_to "Sign up",new_user_registration_path,class:"btn btn-primary btn-lg" %>
</div>